@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@*//about page css*@

    <p>
        This  website is made by Parth Patel.
    </p>

    <p>
        Cruising power
        It is the dedication of its members to bring together motorcycle enthusiasts and the community at large – to create opportunities and lasting friendships through shared values, love of God, community and family through motorcycling.
    </p>
    <p>
    You can find my email address under contact

    </p>


