@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@*//contact page css*@
    <address>
        82 Eden Drive<br />
        Barrie, ON<br />
        <abbr title="Phone">P:</abbr>
        199 888 2228
    </address>
    <address>
        <strong>Email:</strong>   <a href="mailto:Support@example.com">patelparth19960.com</a><br />
    </address>
